<% content_for(:title, @entry.title + " | Comment") %>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 well">
    <div class="page-header">
      <h1>Modify <%= @entry.title %> comment</h1>
    </div>
    <%= render 'form' %>
  </div>
  <div class="col-sm-3"></div>
</div>
